pipeline/PL_MASTER.json
{
	"name": "PL_MASTER",
	"properties": {
		"activities": [
			{
				"name": "File_exists",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Json1",
						"type": "DatasetReference",
						"parameters": {
							"containername": {
								"value": "@pipeline().parameters.sourcecontainer",
								"type": "Expression"
							},
							"foldername": {
								"value": "@pipeline().parameters.sourceFolderName",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "File_exists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('File_exists').output.childItems",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL_M_REF_CHILD",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"sourcefolder": {
										"value": "@pipeline().parameters.sourceFolderName",
										"type": "Expression"
									},
									"sourcecontainer": {
										"value": "@pipeline().parameters.sourcecontainer",
										"type": "Expression"
									},
									"archivefolder": {
										"value": "@pipeline().parameters.archivefolder",
										"type": "Expression"
									},
									"archivecontainer": {
										"value": "@pipeline().parameters.archivecontainer",
										"type": "Expression"
									},
									"tablename": {
										"value": "@pipeline().parameters.tablename",
										"type": "Expression"
									},
									"stagetablename": {
										"value": "@pipeline().parameters.stagetablename",
										"type": "Expression"
									},
									"childitems": {
										"value": "@activity('File_exists').output.childItems",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"sourceFolderName": {
				"type": "string",
				"defaultValue": "sourcedata"
			},
			"sourcecontainer": {
				"type": "string",
				"defaultValue": "raw-container"
			},
			"archivefolder": {
				"type": "string",
				"defaultValue": "archivefolder"
			},
			"archivecontainer": {
				"type": "string",
				"defaultValue": "archivecontainer"
			},
			"tablename": {
				"type": "string",
				"defaultValue": "M_REF"
			},
			"stagetablename": {
				"type": "string",
				"defaultValue": "STG_M_REF"
			}
		},
		"annotations": [],
		"lastPublishTime": "2024-06-23T07:02:31Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}